.block{
    display: flex;
    width: 100%;
}
.info {
    height: 4vh;
    background-color: rgba(32,32,32);
}
.search{
    height: 12vh;
    background-color: rgb(19, 19, 19); 
}
.nav{
    height: 5vh;
    background-color: white;
    display: flex;
}
.info_content{
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.info_left, .info_right{
    width: 50%;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}
.info_right{
    justify-content: right;
}
.info_left{
    justify-content: start;
}
.info_left li, .info_right li{
    margin: 0px 15px;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
}
.info_left li svg, .info_right li svg{
    fill: white;
    height: 20px;
    margin-right: 2px;
}
.info_right #last svg{
    height: 15px;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li{
    width: 200px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    font-size: 1.2rem;
}
.nav ul li:hover{
    cursor: pointer;
}
.nav ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #464646;
    transition: 0.2s all;
}
.nav ul li:hover::after{
    width: 70%;
}